<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issue</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/issue.css" />
  </head>
  <body>
    <div class="navbar">
      <div>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a id="aboutModal" href="#">About</a>
        <a href="/login" id="logout">Logout</a>
      </div>
    </div>
    <!-- <div id="issueDetail" class="issueDetail">Issue Details</div>
    <div id="issueId" class="issueId issueChild">Issue ID: 1</div>
    <div id="issuename" class="issuename issueChild">Issue Name: 1</div>
    <div id="projectId" class="projectId issueChild">Project ID: 1</div>
    <div id="issueType" class="issueType issueChild">Issue Type: 1</div>
    <div id="status" class="status issueChild">Status: 1</div>
    <div id="summary" class="summary issueChild">Summary: 1</div>
    <div id="description" class="description issueChild">Description: 1</div>
    <div id="affectversion" class="affectversion issueChild">
      Affect Version: 1
    </div>
    <div id="fixedversion" class="fixedversion issueChild">
      Fixed Version: 1
    </div>
    <div id="priority" class="priority issueChild">Priority: 1</div>
    <div id="assigneeId" class="assigneeId issueChild">Asignee ID: 1</div>
    <div id="reporterId" class="reporterId issueChild">Reporter ID: 1</div>
    <div id="duedate"   class="duedate issueChild">Duedate: 1</div> -->
    <form class="issue-form" id="formIssue" name="my-form">
      <!-- Issue creation options go here -->
      <div id="issueDetail" class="issueDetail">Issue Details</div>
      <label id="project-name"for="project-name">Project Name:</label>
      <br /><br />
      <label id="issueName"for="issue-name">Issue Name:</label>
      <br /><br />
      <label for="issue-type">Issue Type:</label>
      <select class="filter-dropdown" id="issue-type" name="issue-type">
        <option value="task">Task</option>
        <option value="bug">Bug</option>
        <option value="new-feature">New Feature</option>
        <option value="improvement">Improvement</option>
        <option value="question">Question</option></select
      ><br /><br />
      <label for="priority">Priority:</label>
      <select class="filter-dropdown" id="priority" name="priority">
        <option value="blocker">Blocker</option>
        <option value="critical">Critical</option>
        <option value="major">Major</option>
        <option value="minor">Minor</option>
        <option value="trivial">Trivial</option></select
      ><br /><br />
      <label for="Status">Status:</label>
      <select class="filter-dropdown" id="status" name="status">
        <option value="Open">Open</option>
        <option value="Closed">Closed</option>
        <option value="In-Progress">In-Progress</option>
        <option value="In-Review">In-Review</option>
        <option value="Waiting-for-Regression">Waiting For Regression</option>
        <option value="Resolved">Resolved</option></select
      ><br /><br />
      <label for="issue-summary">Issue Summary:</label>
      <textarea id="issue-summary" name="issue-summary"></textarea><br /><br />
      <label for="issue-due-date">Due Date:</label>
      <input
        type="date"
        id="issue-due-date"
        name="issue-due-date"
      /><br /><br />
      <label for="assigneeInIssue">Assignee Id:</label>
      <input class="text" id="assigneeId" name="assigneeId"><br /><br />
    <br /><br />
      <label for="reporterInIssue">Reporter Name:</label>
      <input class="text" id="reporterId" name="reporterId"><br /><br />
      <label class="rightArea" for="issue-description">Description:</label>
      <textarea
        class="rightArea"
        id="issue-description"
        name="issue-description"
        rows="4"
        cols="50"
      ></textarea
      ><br /><br />
      <label class="rightArea" for="affectVersion">Affect Version:</label>
      <input class="text" id="affectVersion" name="affectVersion"><br /><br />
      <label class="rightArea" for="fixedVersion">Fixed Version:</label>
      <input class="text" id="fixedVersion" name="fixedVersion"><br /><br />
      <!-- <button id="closeIssueModal1" class="submit-issue">
          Submit
        </button> -->
      <input
        type="button"
        value="Edit"
        id="editIssue"
        class="edit-issue"
      />
    </form>
    <script type="module"src="/issue.js"></script>
  </body>
</html>
